* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 50px;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-row.form-buttons {
    display: flex;
    flex-direction: row;
    height: 50px;
}

/* For screens narrower than 768px */
@media screen and (max-width: 768px) {
    .form {
        margin-top: 5vh;
    }

    .MuiBox-root {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .form-title {
        margin: 20px auto;
    }

    .form-body {
        width: 80%;
    }
    
    .form-row {
        width: 100%;
        height: fit-content;
        margin: 0;
    }

    #name-row {
        flex-direction: column;
        height: fit-content;
        /* justify-content: space-evenly; */
        margin: 0;
    }
    #name-row .MuiTextField-root {
        margin: 0 0 8px 0;
        /* background-color: aliceblue; */
    }

    .form-row .MuiFormControl-root {
      width: 100%;
      margin: 0 0 10px 0;
      /* background-color: aliceblue; */
    }

    .form-row.form-buttons {
        justify-content: space-between;
    }

    .form-row.form-buttons button {
        width: 45%;
    }
  }
  
  /* For screens wider than 768px */
@media screen and (min-width: 767px) {
    .form {
        margin-top: 10vh;
    }

    .form-title {
        margin: 40px auto;
    }
    
    .form-row {
        width: 60%;
        height: 70px;
        margin-bottom: 15px;
    }

    .form-row .MuiFormControl-root {
      width: 80%;
    }

    #name-row .MuiTextField-root {
        width: 30%;
    }

    .form-row.form-buttons {
        justify-content: space-around;
    }

    .form-row.form-buttons button {
        width: 30%;
    }
}